name: Validate renovate config

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: pnpm/action-setup@v2
        with:
          version: 10.30.1
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
          cache: 'npm'
          cache-dependency-path: pnpm-lock.yaml
      - uses: pnpm/action-setup@v2
        with:
          version: 10.30.1
      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
      - name: Validate package.json
        run: pnpm fix:pack
      - name: Validate renovate config
        run: pnpm test
